.create-account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .create-account-form {
    width: 300px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .create-account-form label {
    display: block;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .create-account-form input {
    width: 100%;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .create-account-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.2s;
  }
  
  .create-account-form button:hover {
    background-color: #0056b3;
  }

  .create-org-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  
  